@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@400;700&display=swap');

@font-face {
    font-family: "Osaka Sans";
    src: url("./assets/osaka-sans.ttf")
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/**
* Defaults
**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Trispace", monospace;
    background: #e6cca1;
    color: #000;
    /* height: 100vh; */
}

/**
 * Canvas
 */

canvas {
    height: 66vh;
    background-size: cover;
}

.canvas-html-content {
    font-size: 0.75rem;
    margin-top: -1.5vw;
    margin-left: 14vw;
    width: 400px;
}


/**
 * Text
 */

a {
    text-decoration: none;
}

p {
    line-height: 1.7;
}

ul {
    list-style: none;
}

li {
    line-height: 2.2;
}

h1,
h2,
h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

/**
* Header
**/

.app-logo {
    color: #e6cca1;
    font-weight: bold;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: 'Osaka Sans', sans-serif;
}

.app-description {
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.header {
    background: #040404;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 20px 20px;
}

.header ul li a {
    display: flex;
    align-items: center;
}

.header ul li a:hover {
    color: #777;
}

.header ul li a svg {
    margin-right: 5px;
}

/**
 * Hamburger Menu
 **/

.hamburger-menu-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

.hamburger-icon {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  width: 33px;
  height: 33px;
  z-index: 9999;
  color: #fff;
}

.hamburger-icon:before,
.hamburger-icon:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.hamburger-icon:before {
  top: -8px;
}

.hamburger-icon:after {
  top: 8px;
}

.menu-items {
  position: absolute;
  width: 100vw;
  height: 100vh;
  border-radius: 4px;
  animation: slide-down 0.3s ease-out;

  color: #fff;
  background-color: #040404;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

@keyframes slide-down {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/**
* Heading
**/

.heading {
    font-weight: 700;
    margin-bottom: 50px;
    padding: 0 20px;
}

.heading p {
    color: #828282;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.messages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.message {
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 20px 0 10px;
    position: relative;
}

.message .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    border: none;
    background: none;
}

.form,
.content {
    width: 70%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
}

.form-group label {
    text-align: left;
    display: block;
    margin: 0 0 5px 3px;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn svg {
    margin-right: 8px;
}

.btn-reverse {
    background: #fff;
    color: #000;
}

.btn-block {
    width: 100%;
    margin-bottom: 20px;
}

.btn:hover {
    transform: scale(0.98);
}

.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    .form {
        width: 90%;
    }

    .heading h1 {
        font-size: 2rem;
    }

    .heading p {
        font-size: 1.5rem;
    }
}

/**
* Tiptap
**/
.ProseMirror {
    background: #fff;
    border-radius: 5px;
    padding: 10px 10px;
}

/**
* Classbased Styles (Pseudo-TailwindCSS)
**/
.text-center {
    text-align: center;
}

.text-4xl {
    font-size: 2.25rem;
}
.text-3xl {
    font-size: 2rem;
}
.text-2xl {
    font-size: 1.75rem;
}
.text-xl {
    font-size: 1.5rem;
}


.action-btn {
    width: 100px;
    display: flex;
    gap: 10px;
}


/**
* Footer
*/

footer {
    color: #fff;
    background: #040404;
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-flow: column;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    gap: 15px;
}

.copyright,
.credits { 
    text-align: center;
    font-weight: bold;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icon {
    color: gray;
}

.social-icon:hover {
    color: #fff;
}

.sub-footer {
    margin-top: 5px;
}

.music-buttons {
    display: flex;
    font-size: 1.5rem;
}

.music-button {
    color: #ff2fe5;
}


/**
* Hidden
*/

.hidden {
    display: none;
    visibility: hidden;
}


